@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?n4lgx8');
  src:  url('/fonts/icomoon.eot?n4lgx8#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?n4lgx8') format('truetype'),
    url('/fonts/icomoon.woff?n4lgx8') format('woff'),
    url('/fonts/icomoon.svg?n4lgx8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowl:before {
  content: "\e900";
}
.icon-arrowr:before {
  content: "\e901";
}
.icon-clean:before {
  content: "\e902";
}
.icon-cross:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e904";
}
.icon-mypage:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-mobile:before {
  content: "\e907";
}
.icon-pc1:before {
  content: "\e908";
}
.icon-mobile1:before {
  content: "\e909";
}
.icon-computer:before {
  content: "\e90a";
}
.icon-heart:before {
  content: "\e90b";
}
.icon-heart-o:before {
  content: "\e90c";
}
.icon-arup:before {
  content: "\e90d";
}
.icon-ardown:before {
  content: "\e90e";
}
.icon-letter-p:before {
  content: "\e90f";
}
.icon-letter-c:before {
  content: "\e910";
}
.icon-moneykorea:before {
  content: "\e911";
}
.icon-money2:before {
  content: "\e912";
}
.icon-refresh:before {
  content: "\e913";
}
.icon-safe:before {
  content: "\e914";
}
.icon-arup01:before {
  content: "\e915";
}
.icon-ardown01:before {
  content: "\e916";
}
.icon-all:before {
  content: "\e917";
}
.icon-allnew:before {
  content: "\e918";
}
.icon-menu1:before {
  content: "\e919";
}
.icon-nav2:before {
  content: "\e91a";
}
.icon-play:before {
  content: "\e91b";
}
.icon-menu31:before {
  content: "\e91c";
}
.icon-menu32:before {
  content: "\e91d";
}
.icon-star1:before {
  content: "\e91e";
}
.icon-star-o:before {
  content: "\e91f";
}
.icon-calendar:before {
  content: "\e920";
}
.icon-sand:before {
  content: "\e921";
}
.icon-trash:before {
  content: "\e922";
}
.icon-maildelete:before {
  content: "\e923";
}
.icon-lockb:before {
  content: "\e924";
}
.icon-logob:before {
  content: "\e925";
}
.icon-dice:before {
  content: "\e926";
}
.icon-dice11:before {
  content: "\e927";
}
.icon-poker:before {
  content: "\e928";
}
.icon-slote1:before {
  content: "\e929";
}
.icon-slote11:before {
  content: "\e92a";
}
.icon-game:before {
  content: "\e92b";
}
.icon-vr:before {
  content: "\e92c";
}
.icon-vr1:before {
  content: "\e92d";
}
.icon-wheel1:before {
  content: "\e92e";
}
.icon-shop:before {
  content: "\e92f";
}
.icon-event:before {
  content: "\e930";
}
.icon-message:before {
  content: "\e931";
}
.icon-time:before {
  content: "\e932";
}
.icon-ring:before {
  content: "\e933";
}
.icon-bell:before {
  content: "\e934";
}
.icon-alarm1:before {
  content: "\e935";
}
.icon-bullhorn:before {
  content: "\e936";
}
.icon-headphones:before {
  content: "\e937";
}
.icon-mic:before {
  content: "\e938";
}
.icon-camera:before {
  content: "\e939";
}
.icon-policy:before {
  content: "\e93a";
}
.icon-coin:before {
  content: "\e93b";
}
.icon-deposit:before {
  content: "\e93c";
}
.icon-withdraw:before {
  content: "\e93d";
}
.icon-give-cash:before {
  content: "\e93e";
}
.icon-vip1:before {
  content: "\e93f";
}
.icon-appdownload:before {
  content: "\e940";
}
.icon-cell:before {
  content: "\e941";
}
.icon-download:before {
  content: "\e942";
}
.icon-friend:before {
  content: "\e943";
}
.icon-vip:before {
  content: "\e944";
}
.icon-copy:before {
  content: "\e945";
}
.icon-maillist01:before {
  content: "\e946";
}
.icon-reg:before {
  content: "\e947";
}
.icon-maillist:before {
  content: "\e948";
}
.icon-betrule:before {
  content: "\e949";
}
.icon-faq:before {
  content: "\e94a";
}
.icon-edit:before {
  content: "\e94b";
}
.icon-mailcheck:before {
  content: "\e94c";
}
.icon-link:before {
  content: "\e94d";
}
.icon-sphere:before {
  content: "\e94e";
}
.icon-earth:before {
  content: "\e94f";
}
.icon-telegram:before {
  content: "\e950";
}
.icon-kakao1:before {
  content: "\e951";
}
.icon-kakao:before {
  content: "\e952";
}
.icon-service01:before {
  content: "\e953";
}
.icon-service:before {
  content: "\e954";
}
.icon-app:before {
  content: "\e955";
}
.icon-cooperation:before {
  content: "\e956";
}
.icon-mail01a:before {
  content: "\e957";
}
.icon-mail01:before {
  content: "\e958";
}
.icon-inbox:before {
  content: "\e959";
}
.icon-mail02a:before {
  content: "\e95a";
}
.icon-subscript:before {
  content: "\e95b";
}
.icon-lock:before {
  content: "\e95c";
}
.icon-lock1:before {
  content: "\e95d";
}
.icon-pw01:before {
  content: "\e95e";
}
.icon-pw02:before {
  content: "\e95f";
}
.icon-pw03:before {
  content: "\e960";
}
.icon-account:before {
  content: "\e961";
}
.icon-login:before {
  content: "\e962";
}
.icon-card:before {
  content: "\e963";
}
.icon-bank1:before {
  content: "\e964";
}
.icon-load:before {
  content: "\e965";
}
.icon-switch:before {
  content: "\e966";
}
.icon-switch-off:before {
  content: "\e967";
}
.icon-logout:before {
  content: "\e968";
}
.icon-no:before {
  content: "\e969";
}
.icon-search:before {
  content: "\e96a";
}
.icon-information:before {
  content: "\e96b";
}
.icon-money:before {
  content: "\e96c";
}
.icon-check-point:before {
  content: "\e96d";
}
.icon-check1:before {
  content: "\e96e";
}
.icon-more:before {
  content: "\e96f";
}
.icon-return:before {
  content: "\e970";
}
.icon-arrow02:before {
  content: "\e971";
}
.icon-pc:before {
  content: "\e972";
}
.icon-verifi:before {
  content: "\e973";
}
.icon-poker02:before {
  content: "\e974";
}
.icon-poker03:before {
  content: "\e975";
}
.icon-poker04:before {
  content: "\e976";
}
.icon-spades:before {
  content: "\e977";
}
.icon-menu:before {
  content: "\e978";
}
.icon-aarowup:before {
  content: "\e979";
}
.icon-aarowdown:before {
  content: "\e97a";
}
.icon-network:before {
  content: "\e97b";
}
.icon-warning:before {
  content: "\e97c";
}
.icon-set:before {
  content: "\e97d";
}
.icon-idn01:before {
  content: "\e97e";
}
.icon-ball04:before {
  content: "\e97f";
}
.icon-ball03:before {
  content: "\e980";
}
.icon-ball02:before {
  content: "\e981";
}
.icon-sport:before {
  content: "\e982";
}
.icon-livea:before {
  content: "\e983";
}
.icon-liveb:before {
  content: "\e984";
}
.icon-rank:before {
  content: "\e985";
}
.icon-qm01:before {
  content: "\e986";
}
.icon-info02:before {
  content: "\e987";
}
.icon-man:before {
  content: "\e988";
}
.icon-money1:before {
  content: "\e989";
}
.icon-exclamation:before {
  content: "\e98a";
}
.icon-signbonus:before {
  content: "\e98b";
}
.icon-bank-s:before {
  content: "\e98c";
}
.icon-wheel:before {
  content: "\e98d";
}
.icon-memberask:before {
  content: "\e98e";
}
.icon-kalamba:before {
  content: "\e98f";
}
.icon-balance:before {
  content: "\e990";
}
.icon-betlist:before {
  content: "\e991";
}
.icon-birth:before {
  content: "\e992";
}
.icon-calendar1:before {
  content: "\e993";
}
.icon-calender-check:before {
  content: "\e994";
}
.icon-carrier1:before {
  content: "\e995";
}
.icon-check2:before {
  content: "\e996";
}
.icon-circlecheck:before {
  content: "\e997";
}
.icon-close:before {
  content: "\e998";
}
.icon-failed:before {
  content: "\e999";
}
.icon-detail:before {
  content: "\e99a";
}
.icon-search-circle:before {
  content: "\e99b";
}
.icon-maintain:before {
  content: "\e99c";
}
.icon-play1:before {
  content: "\e99d";
}
.icon-alarm:before {
  content: "\e99e";
}
.icon-select-game:before {
  content: "\e99f";
}
.icon-plus1:before {
  content: "\e9a0";
}
.icon-minus1:before {
  content: "\e9a1";
}
.icon-add-square:before {
  content: "\e9a2";
}
.icon-minus-square:before {
  content: "\e9a3";
}
.icon-plus2:before {
  content: "\e9a4";
}
.icon-minus2:before {
  content: "\e9a5";
}
.icon-x02:before {
  content: "\e9a6";
}
.icon-delet:before {
  content: "\e9a7";
}
.icon-up-arrow:before {
  content: "\e9a8";
}
.icon-down-arrow:before {
  content: "\e9a9";
}
.icon-prev-arrow:before {
  content: "\e9aa";
}
.icon-next-arrow:before {
  content: "\e9ab";
}
.icon-first-arrow:before {
  content: "\e9ac";
}
.icon-last-arrow:before {
  content: "\e9ad";
}
.icon-gender:before {
  content: "\e9ae";
}
.icon-dbonus1:before {
  content: "\e9af";
}
.icon-point:before {
  content: "\e9b0";
}
.icon-information1:before {
  content: "\e9b1";
}
.icon-qrcode:before {
  content: "\e9b2";
}
.icon-read-more:before {
  content: "\e9b3";
}
.icon-recommend:before {
  content: "\e9b4";
}
.icon-good:before {
  content: "\e9b5";
}
.icon-vip2:before {
  content: "\e9b6";
}
.icon-live-basketball:before {
  content: "\e9b7";
}
.icon-ground03:before {
  content: "\e9b8";
}
.icon-live-default:before {
  content: "\e9b9";
}
.icon-ground04:before {
  content: "\e9ba";
}
.icon-live-tennis:before {
  content: "\e9bb";
}
.icon-ground01:before {
  content: "\e9bc";
}
.icon-live1:before {
  content: "\e9bd";
}
.icon-ground02:before {
  content: "\e9be";
}
.icon-spinner-of-dots:before {
  content: "\e9bf";
}
.icon-calculator:before {
  content: "\e9c0";
}
.icon-vr2:before {
  content: "\e9c1";
}
.icon-rank1:before {
  content: "\e9c2";
}
.icon-tg:before {
  content: "\e9c3";
}
.icon-couponbox-point:before {
  content: "\e9c4";
}
.icon-couponbox:before {
  content: "\e9c5";
}
.icon-home:before {
  content: "\e9c6";
}
.icon-home1:before {
  content: "\e9c7";
}
.icon-home2:before {
  content: "\e9c8";
}
.icon-home3:before {
  content: "\e9c9";
}
.icon-office:before {
  content: "\e9ca";
}
.icon-newspaper:before {
  content: "\e9cb";
}
.icon-pencil:before {
  content: "\e9cc";
}
.icon-pencil2:before {
  content: "\e9cd";
}
.icon-quill:before {
  content: "\e9ce";
}
.icon-pen:before {
  content: "\e9cf";
}
.icon-blog:before {
  content: "\e9d0";
}
.icon-eyedropper:before {
  content: "\e9d1";
}
.icon-droplet:before {
  content: "\e9d2";
}
.icon-image:before {
  content: "\e9d3";
}
.icon-images:before {
  content: "\e9d4";
}
.icon-music:before {
  content: "\e9d5";
}
.icon-play2:before {
  content: "\e9d6";
}
.icon-film:before {
  content: "\e9d7";
}
.icon-video-camera:before {
  content: "\e9d8";
}
.icon-dice1:before {
  content: "\e9d9";
}
.icon-pacman:before {
  content: "\e9da";
}
.icon-connection:before {
  content: "\e9db";
}
.icon-podcast:before {
  content: "\e9dc";
}
.icon-feed:before {
  content: "\e9dd";
}
.icon-carrier:before {
  content: "\e9de";
}
.icon-book:before {
  content: "\e9df";
}
.icon-books:before {
  content: "\e9e0";
}
.icon-bank:before {
  content: "\e9e1";
}
.icon-library:before {
  content: "\e9e2";
}
.icon-file-text:before {
  content: "\e9e3";
}
.icon-profile:before {
  content: "\e9e4";
}
.icon-file-empty:before {
  content: "\e9e5";
}
.icon-files-empty:before {
  content: "\e9e6";
}
.icon-file-text2:before {
  content: "\e9e7";
}
.icon-file-picture:before {
  content: "\e9e8";
}
.icon-file-music:before {
  content: "\e9e9";
}
.icon-file-play:before {
  content: "\e9ea";
}
.icon-file-video:before {
  content: "\e9eb";
}
.icon-file-zip:before {
  content: "\e9ec";
}
.icon-file-pdf:before {
  content: "\e9ed";
}
.icon-file-openoffice:before {
  content: "\e9ee";
}
.icon-file-word:before {
  content: "\e9ef";
}
.icon-file-excel:before {
  content: "\e9f0";
}
.icon-libreoffice:before {
  content: "\e9f1";
}
.icon-copy1:before {
  content: "\e9f2";
}
.icon-paste:before {
  content: "\e9f3";
}
.icon-stack:before {
  content: "\e9f4";
}
.icon-folder:before {
  content: "\e9f5";
}
.icon-folder-open:before {
  content: "\e9f6";
}
.icon-folder-plus:before {
  content: "\e9f7";
}
.icon-folder-minus:before {
  content: "\e9f8";
}
.icon-folder-download:before {
  content: "\e9f9";
}
.icon-folder-upload:before {
  content: "\e9fa";
}
.icon-price-tag:before {
  content: "\e9fb";
}
.icon-price-tags:before {
  content: "\e9fc";
}
.icon-barcode:before {
  content: "\e9fd";
}
.icon-qrcode1:before {
  content: "\e9fe";
}
.icon-ticket:before {
  content: "\e9ff";
}
.icon-cart:before {
  content: "\ea00";
}
.icon-credit-card:before {
  content: "\ea01";
}
.icon-calculator1:before {
  content: "\ea02";
}
.icon-phone1:before {
  content: "\ea03";
}
.icon-phone-hang-up:before {
  content: "\ea04";
}
.icon-address-book:before {
  content: "\ea05";
}
.icon-envelop:before {
  content: "\ea06";
}
.icon-pushpin:before {
  content: "\ea07";
}
.icon-location:before {
  content: "\ea08";
}
.icon-location2:before {
  content: "\ea09";
}
.icon-compass:before {
  content: "\ea0a";
}
.icon-compass2:before {
  content: "\ea0b";
}
.icon-map:before {
  content: "\ea0c";
}
.icon-map2:before {
  content: "\ea0d";
}
.icon-history:before {
  content: "\ea0e";
}
.icon-clock:before {
  content: "\ea0f";
}
.icon-clock2:before {
  content: "\ea10";
}
.icon-calendar11:before {
  content: "\ea11";
}
.icon-printer:before {
  content: "\ea12";
}
.icon-keyboard:before {
  content: "\ea13";
}
.icon-display:before {
  content: "\ea14";
}
.icon-laptop:before {
  content: "\ea15";
}
.icon-mobile2:before {
  content: "\ea16";
}
.icon-mobile21:before {
  content: "\ea17";
}
.icon-tablet:before {
  content: "\ea18";
}
.icon-tv:before {
  content: "\ea19";
}
.icon-drawer:before {
  content: "\ea1a";
}
.icon-drawer2:before {
  content: "\ea1b";
}
.icon-box-add:before {
  content: "\ea1c";
}
.icon-box-remove:before {
  content: "\ea1d";
}
.icon-download1:before {
  content: "\ea1e";
}
.icon-upload:before {
  content: "\ea1f";
}
.icon-floppy-disk:before {
  content: "\ea20";
}
.icon-drive:before {
  content: "\ea21";
}
.icon-database:before {
  content: "\ea22";
}
.icon-undo:before {
  content: "\ea23";
}
.icon-redo:before {
  content: "\ea24";
}
.icon-undo2:before {
  content: "\ea25";
}
.icon-redo2:before {
  content: "\ea26";
}
.icon-forward:before {
  content: "\ea27";
}
.icon-reply:before {
  content: "\ea28";
}
.icon-bubble:before {
  content: "\ea29";
}
.icon-bubbles:before {
  content: "\ea2a";
}
.icon-bubbles2:before {
  content: "\ea2b";
}
.icon-bubble2:before {
  content: "\ea2c";
}
.icon-bubbles3:before {
  content: "\ea2d";
}
.icon-bubbles4:before {
  content: "\ea2e";
}
.icon-user1:before {
  content: "\ea2f";
}
.icon-users:before {
  content: "\ea30";
}
.icon-user-plus1:before {
  content: "\ea31";
}
.icon-user-minus:before {
  content: "\ea32";
}
.icon-user-check:before {
  content: "\ea33";
}
.icon-user-tie:before {
  content: "\ea34";
}
.icon-spinner:before {
  content: "\ea35";
}
.icon-spinner2:before {
  content: "\ea36";
}
.icon-spinner3:before {
  content: "\ea37";
}
.icon-spinner4:before {
  content: "\ea38";
}
.icon-spinner5:before {
  content: "\ea39";
}
.icon-spinner6:before {
  content: "\ea3a";
}
.icon-spinner7:before {
  content: "\ea3b";
}
.icon-spinner8:before {
  content: "\ea3c";
}
.icon-spinner9:before {
  content: "\ea3d";
}
.icon-spinner10:before {
  content: "\ea3e";
}
.icon-spinner11:before {
  content: "\ea3f";
}
.icon-binoculars:before {
  content: "\ea40";
}
.icon-search1:before {
  content: "\ea41";
}
.icon-zoom-in:before {
  content: "\ea42";
}
.icon-zoom-out:before {
  content: "\ea43";
}
.icon-enlarge:before {
  content: "\ea44";
}
.icon-shrink:before {
  content: "\ea45";
}
.icon-enlarge2:before {
  content: "\ea46";
}
.icon-shrink2:before {
  content: "\ea47";
}
.icon-key:before {
  content: "\ea48";
}
.icon-key2:before {
  content: "\ea49";
}
.icon-lock2:before {
  content: "\ea4a";
}
.icon-unlocked:before {
  content: "\ea4b";
}
.icon-wrench:before {
  content: "\ea4c";
}
.icon-equalizer:before {
  content: "\ea4d";
}
.icon-equalizer2:before {
  content: "\ea4e";
}
.icon-cog:before {
  content: "\ea4f";
}
.icon-cogs:before {
  content: "\ea50";
}
.icon-hammer:before {
  content: "\ea51";
}
.icon-magic-wand:before {
  content: "\ea52";
}
.icon-aid-kit:before {
  content: "\ea53";
}
.icon-bug:before {
  content: "\ea54";
}
.icon-pie-chart:before {
  content: "\ea55";
}
.icon-stats-dots:before {
  content: "\ea56";
}
.icon-stats-bars:before {
  content: "\ea57";
}
.icon-stats-bars2:before {
  content: "\ea58";
}
.icon-gift1:before {
  content: "\ea59";
}
.icon-glass:before {
  content: "\ea5a";
}
.icon-glass2:before {
  content: "\ea5b";
}
.icon-mug:before {
  content: "\ea5c";
}
.icon-spoon-knife:before {
  content: "\ea5d";
}
.icon-leaf:before {
  content: "\ea5e";
}
.icon-meter:before {
  content: "\ea5f";
}
.icon-meter2:before {
  content: "\ea60";
}
.icon-hammer2:before {
  content: "\ea61";
}
.icon-fire:before {
  content: "\ea62";
}
.icon-lab:before {
  content: "\ea63";
}
.icon-magnet:before {
  content: "\ea64";
}
.icon-bin:before {
  content: "\ea65";
}
.icon-bin2:before {
  content: "\ea66";
}
.icon-briefcase:before {
  content: "\ea67";
}
.icon-airplane:before {
  content: "\ea68";
}
.icon-truck:before {
  content: "\ea69";
}
.icon-road:before {
  content: "\ea6a";
}
.icon-accessibility:before {
  content: "\ea6b";
}
.icon-target:before {
  content: "\ea6c";
}
.icon-shield:before {
  content: "\ea6d";
}
.icon-power:before {
  content: "\ea6e";
}
.icon-power-cord:before {
  content: "\ea6f";
}
.icon-clipboard:before {
  content: "\ea70";
}
.icon-list-numbered:before {
  content: "\ea71";
}
.icon-list:before {
  content: "\ea72";
}
.icon-list2:before {
  content: "\ea73";
}
.icon-tree:before {
  content: "\ea74";
}
.icon-menu2:before {
  content: "\ea75";
}
.icon-menu21:before {
  content: "\ea76";
}
.icon-menu3:before {
  content: "\ea77";
}
.icon-menu4:before {
  content: "\ea78";
}
.icon-cloud:before {
  content: "\ea79";
}
.icon-cloud-download:before {
  content: "\ea7a";
}
.icon-cloud-upload:before {
  content: "\ea7b";
}
.icon-cloud-check:before {
  content: "\ea7c";
}
.icon-download2:before {
  content: "\ea7d";
}
.icon-upload2:before {
  content: "\ea7e";
}
.icon-download3:before {
  content: "\ea7f";
}
.icon-upload3:before {
  content: "\ea80";
}
.icon-link1:before {
  content: "\ea81";
}
.icon-flag:before {
  content: "\ea82";
}
.icon-attachment:before {
  content: "\ea83";
}
.icon-eye:before {
  content: "\ea84";
}
.icon-eye-plus:before {
  content: "\ea85";
}
.icon-eye-minus:before {
  content: "\ea86";
}
.icon-eye-blocked:before {
  content: "\ea87";
}
.icon-bookmark:before {
  content: "\ea88";
}
.icon-bookmarks:before {
  content: "\ea89";
}
.icon-sun:before {
  content: "\ea8a";
}
.icon-contrast:before {
  content: "\ea8b";
}
.icon-brightness-contrast:before {
  content: "\ea8c";
}
.icon-star-empty:before {
  content: "\ea8d";
}
.icon-star-half:before {
  content: "\ea8e";
}
.icon-star-full:before {
  content: "\ea8f";
}
.icon-heart1:before {
  content: "\ea90";
}
.icon-heart-broken:before {
  content: "\ea91";
}
.icon-happy:before {
  content: "\ea92";
}
.icon-happy2:before {
  content: "\ea93";
}
.icon-smile:before {
  content: "\ea94";
}
.icon-smile2:before {
  content: "\ea95";
}
.icon-sad:before {
  content: "\ea96";
}
.icon-sad2:before {
  content: "\ea97";
}
.icon-point-up:before {
  content: "\ea98";
}
.icon-point-right:before {
  content: "\ea99";
}
.icon-point-down:before {
  content: "\ea9a";
}
.icon-point-left:before {
  content: "\ea9b";
}
.icon-plus:before {
  content: "\ea9c";
}
.icon-minus:before {
  content: "\ea9d";
}
.icon-cross1:before {
  content: "\ea9e";
}
.icon-checkmark:before {
  content: "\ea9f";
}
.icon-checkmark2:before {
  content: "\eaa0";
}
.icon-spell-check:before {
  content: "\eaa1";
}
.icon-enter:before {
  content: "\eaa2";
}
.icon-exit:before {
  content: "\eaa3";
}
.icon-play21:before {
  content: "\eaa4";
}
.icon-pause1:before {
  content: "\eaa5";
}
.icon-stop:before {
  content: "\eaa6";
}
.icon-previous:before {
  content: "\eaa7";
}
.icon-next:before {
  content: "\eaa8";
}
.icon-backward:before {
  content: "\eaa9";
}
.icon-forward2:before {
  content: "\eaaa";
}
.icon-play3:before {
  content: "\eaab";
}
.icon-pause2:before {
  content: "\eaac";
}
.icon-stop2:before {
  content: "\eaad";
}
.icon-backward2:before {
  content: "\eaae";
}
.icon-forward3:before {
  content: "\eaaf";
}
.icon-first:before {
  content: "\eab0";
}
.icon-last:before {
  content: "\eab1";
}
.icon-previous2:before {
  content: "\eab2";
}
.icon-next2:before {
  content: "\eab3";
}
.icon-eject:before {
  content: "\eab4";
}
.icon-volume-high:before {
  content: "\eab5";
}
.icon-volume-medium:before {
  content: "\eab6";
}
.icon-volume-low:before {
  content: "\eab7";
}
.icon-volume-mute:before {
  content: "\eab8";
}
.icon-volume-mute2:before {
  content: "\eab9";
}
.icon-volume-increase:before {
  content: "\eaba";
}
.icon-volume-decrease:before {
  content: "\eabb";
}
.icon-loop:before {
  content: "\eabc";
}
.icon-loop2:before {
  content: "\eabd";
}
.icon-infinite:before {
  content: "\eabe";
}
.icon-shuffle:before {
  content: "\eabf";
}
.icon-arrow-up-left:before {
  content: "\eac0";
}
.icon-arrow-up:before {
  content: "\eac1";
}
.icon-arrow-up-right:before {
  content: "\eac2";
}
.icon-arrow-right1:before {
  content: "\eac3";
}
.icon-arrow-down-right:before {
  content: "\eac4";
}
.icon-arrow-down:before {
  content: "\eac5";
}
.icon-arrow-down-left:before {
  content: "\eac6";
}
.icon-arrow-left:before {
  content: "\eac7";
}
.icon-arrow-up-left2:before {
  content: "\eac8";
}
.icon-arrow-up2:before {
  content: "\eac9";
}
.icon-arrow-up-right2:before {
  content: "\eaca";
}
.icon-arrow-right2:before {
  content: "\eacb";
}
.icon-arrow-down-right2:before {
  content: "\eacc";
}
.icon-arrow-down2:before {
  content: "\eacd";
}
.icon-arrow-down-left2:before {
  content: "\eace";
}
.icon-arrow-left2:before {
  content: "\eacf";
}
.icon-circle-up:before {
  content: "\ead0";
}
.icon-circle-right:before {
  content: "\ead1";
}
.icon-circle-down:before {
  content: "\ead2";
}
.icon-circle-left:before {
  content: "\ead3";
}
.icon-command:before {
  content: "\ead4";
}
.icon-shift:before {
  content: "\ead5";
}
.icon-checkbox-checked:before {
  content: "\ead6";
}
.icon-checkbox-unchecked:before {
  content: "\ead7";
}
.icon-radio-checked:before {
  content: "\ead8";
}
.icon-radio-checked2:before {
  content: "\ead9";
}
.icon-radio-unchecked:before {
  content: "\eada";
}
.icon-crop:before {
  content: "\eadb";
}
.icon-ungroup:before {
  content: "\eadc";
}
.icon-scissors:before {
  content: "\eadd";
}
.icon-filter:before {
  content: "\eade";
}
.icon-share:before {
  content: "\eadf";
}
.icon-new-tab:before {
  content: "\eae0";
}
.icon-whatsapp:before {
  content: "\eae1";
}
.icon-spotify:before {
  content: "\eae2";
}
.icon-twitter:before {
  content: "\eae3";
}
.icon-rss:before {
  content: "\eae4";
}
.icon-rss2:before {
  content: "\eae5";
}
.icon-youtube:before {
  content: "\eae6";
}
.icon-twitch:before {
  content: "\eae7";
}
.icon-flickr:before {
  content: "\eae8";
}
.icon-flickr2:before {
  content: "\eae9";
}
.icon-dribbble:before {
  content: "\eaea";
}
.icon-onedrive:before {
  content: "\eaeb";
}
.icon-github:before {
  content: "\eaec";
}
.icon-basecamp:before {
  content: "\eaed";
}
.icon-joomla:before {
  content: "\eaee";
}
.icon-ello:before {
  content: "\eaef";
}
.icon-appleinc:before {
  content: "\eaf0";
}
.icon-android:before {
  content: "\eaf1";
}
.icon-windows:before {
  content: "\eaf2";
}
.icon-windows8:before {
  content: "\eaf3";
}
.icon-chrome:before {
  content: "\eaf4";
}
.icon-firefox:before {
  content: "\eaf5";
}
.icon-ie:before {
  content: "\eaf6";
}
.icon-edge:before {
  content: "\eaf7";
}
.icon-safari:before {
  content: "\eaf8";
}
.icon-opera:before {
  content: "\eaf9";
}
.icon-plus-square1:before {
  content: "\eafa";
}
.icon-minus-square1:before {
  content: "\eafb";
}
.icon-plus-circle1:before {
  content: "\eafc";
}
.icon-minus-circle1:before {
  content: "\eafd";
}
.icon-login1:before {
  content: "\eafe";
}
.icon-user-plus:before {
  content: "\eaff";
}
.icon-user-times:before {
  content: "\eb00";
}
.icon-arrow:before {
  content: "\eb01";
}
.icon-arupa:before {
  content: "\eb02";
}
.icon-go:before {
  content: "\eb03";
}
.icon-domestic:before {
  content: "\eb04";
}
.icon-abroad:before {
  content: "\eb05";
}
.icon-live:before {
  content: "\eb06";
}
.icon-realtime:before {
  content: "\eb07";
}
.icon-special:before {
  content: "\eb08";
}
