@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  display: flex;
  white-space: nowrap;
}

.animate-scroll:hover {
  animation-play-state: paused;
} 
