@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.chat-ui {
  padding: 20px;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.chat-bubble {
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  max-width: 60%;
  word-break: break-word;
}

.chat-bubble.assistant {
  background-color: #e6e6ff;
  align-self: flex-start;
}

.chat-bubble.computer {
  background-color: #ffebcc;
  align-self: flex-end;
}

.code-block {
  font-family: "Courier New", monospace;
  background-color: #f0f0f0;
  padding: 5px;
  display: block;
  border-left: 4px solid #888;
  margin: 5px 0;
}

.console-output {
  background-color: #333;
  color: #fff;
  padding: 5px;
  margin: 5px 0;
}


.scrollbar-track-x,
.scrollbar-thumb-x {
  height: 5px !important;
}

.scrollbar-track-y,
.scrollbar-thumb-y {
  width: 5px !important;
}

.scroll-content:hover ~ .scrollbar-track {
  opacity: 1;
}

/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 4px; /* Width of the entire scrollbar */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Track (background) color */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 6px solid #636262; /* Space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #969494dc; /* Hover state */
}